body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.PrivateTabIndicator-root-1,.PrivateTabIndicator-colorSecondary-3{
    background-color: #fdc202;
    height: 4px;
}