.click-class {
    cursor: pointer;
}
a:link { text-decoration: none;  }
a:visited { text-decoration: none; }
a:hover { text-decoration: none;  }
a:active { text-decoration: none; }

.ac {
    font-size: 1.5em;
    color: #333;
}
.ac:hover{
    color: black;
}

.get-moode-app-text>a{
    font-size: 1em;
}
.get-moode-app-text:hover {
    color: black;
}
@media (min-width:992px) {
    .col-md7{
        width: 58.33333333%;
        float: left;
    }
}
.col-md7{
    position: relative;
    min-height: 1px;
}
.profilepic {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    /* margin: auto; */
    margin-right: 20px;
    margin-top: 10px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
}
