.mat-tab-body-content {
    height: 100%;
    overflow: auto;
}
.d-card[_ngcontent-c3] {
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}
.hoverable {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}
 .d-card {
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.d-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 541px) and (max-width: 900px){
.sub-head-text {
    height: 170px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
} 
 .grid-image{
     width: 200px;
 }
}
@media (min-width: 543px) and (max-width: 635px) {
.grid-image {
    width: 150px;
    height: 80px;
}
.sub-head-text{
    height: 190px;
}
}